

    ion-col{
    //  height: 41vw;
    text-align: center;
    }

    .category-Card{
        height: 35vw;
        .card-content {
            padding: 50px 12px;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    .toolbar-container {
        background: #ff6f38;
    }